<section class="subscribe-form">
    <h3 class="subscribe-form-title">Free {{@site.title}} Newsletter</h3>
    <p class="subscribe-form-description">Subscribe here for the latest news about new courses and other developments. Notice, this does not add you to any courses.<br/>See <a href="https://www.designedbyselection.org/about/designed-by-selection/">here for instructions of how to participate in discussions and join courses.</a></p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="youremail@example.com" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">Subscribe</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
        </div>
        <div class="message-error">
            Please check the email address you entered!
        </div>
    </form>
</section>